
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;800&display=swap');

:root {
  --color-primary: #16161E;
  --color-secondary: #1C1C24;

  --color-white:#EAF4FD;
  --color-gradient-first:#4A37E4;
  --color-gradient-second:#D642DE;
  --color-gradient-third:#AE6B7F;
}

@keyframes LeftLinkRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes LeftLinkRightOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100px);
        opacity: 0;
    }
}


body{
    /* overflow: hidden; */
    margin:0;
    padding:0;
    width:calc(100vw - (100vw - 100%));    
    background-color: var(--color-primary);
    font-family: 'Karla', sans-serif;
}
h1, h2{
    margin: 0;
    color: var(--color-white);
}
a{
    text-decoration: none;
    color: var(--color-white);
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
.container{
    
    display: grid;
    /* overflow: hidden; */
    width: 100%;
    min-height: 100vh;
    grid-template-areas: "header nav"
                         "main  main"
                         "main  main";
    grid-template-rows: 100px 1fr ;
    grid-template-columns: 1.5fr .5fr;
}
.header{
    grid-area: header;
    display: flex;
    height: 30%;
    width: 2rem;
    padding: 15px;
    margin: 1.5rem 2rem;
    border-radius: 50%;
    border: .7px solid var(--color-white);
    transition: all 300ms ease-in-out;
    transition-property: width, border-radius;

}
.header_active{
    justify-content: space-between;
    width: 80%;
    border-radius: 30px;
    transition: width  .5s   ;
}
.ul__navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    overflow: hidden;
    top: 10%;
    
    height: 80%;
    width: 25%;
    color: white;
    text-align: center;
    
}
.ul__navigation--active{
    
}
    
.nav{
    grid-area: nav;
    display: flex;
    height: 30%;
    width: 2rem;
    justify-content: center;
    padding: 15px;
    margin: 1.5rem 2rem;
    border-radius: 50%;
    border: 1px solid var(--color-white);
  
}
.main{
    grid-area: main;
    display: grid;
    gap: .5rem;
    padding:0 2rem;
}
.search-icon{
    display: flex;
    background-image: url(icons/buscar.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 28px;
}
.navigation-icon{
    display: flex;
    background-image: url(icons/menu-puntos-vertical.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 26px;
    transform: rotate(0deg);
    transition: transform .5s;
}
.check_search, .check_navigation{
    display: none;
}
.input-search{
    display: none;
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: 0;
    padding-left: 10px;
    color: var(--color-white);
    font-size: 1.2em;
    font-weight: semibold;
}

.check_search:checked ~ .input-search{
    display: flex;
}

.check_navigation:checked ~ .navigation-icon{
    transform: rotate(90deg);
    transition: transform .5s;
}

.check_navigation ~ .ul__navigation > .li__navigation{
    animation: LeftLinkRightOut .8s ease-in-out .3s forwards;
}
.check_navigation:not(:checked) ~ .ul__navigation>.li__navigation:nth-of-type(1){
    animation-delay: .2s;    
}
.check_navigation:not(:checked) ~ .ul__navigation>.li__navigation:nth-of-type(2){
    animation-delay: .5s;    
}
.check_navigation:not(:checked) ~ .ul__navigation>.li__navigation:nth-of-type(3){
    animation-delay: .8s;    
}
.check_navigation:not(:checked) ~ .ul__navigation>.li__navigation:nth-of-type(4){
    animation-delay: 1s;    
}
.check_navigation:checked ~ .ul__navigation--active > .li__navigation{
    opacity: 0;
    animation: LeftLinkRight .8s ease-in-out .3s forwards;
}

.check_navigation:checked ~ .ul__navigation--active>.li__navigation:nth-of-type(1){
    animation-delay: .2s;    
}
.check_navigation:checked ~ .ul__navigation--active>.li__navigation:nth-of-type(2){
    animation-delay: .5s;    
}
.check_navigation:checked ~ .ul__navigation--active>.li__navigation:nth-of-type(3){
    animation-delay: .8s;    
}
.check_navigation:checked ~ .ul__navigation--active>.li__navigation:nth-of-type(4){
    animation-delay: 1s;    
}

/* Sections */
.section__banner{
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
    padding-top: 2rem;
    column-gap: .8rem;
}
.section__banner--tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.section__banner--img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.h1__tittle{
    font-weight: 700;
}
.tittle_section{
    font-weight: 700;
    margin-bottom: 1rem;
}
.img__banner{
    object-fit: contain;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    box-shadow: 2px 35px 25px -30px rgba(4,3,5,.5);
    -webkit-box-shadow: 2px 35px 25px -30px rgba(4,3,5,.5);
    -moz-box-shadow: 2px 35px 25px -30px rgba(4,3,5,.5);
    /* box-shadow: 2px 30px 25px -35px rgba(255, 255, 255, 0.5); */
}
.banner__link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6rem 1.2rem;
    color: #3D3C48;
    background: rgb(252,221,253);
    background: radial-gradient(circle, rgba(252,221,253,1) 0%, rgba(230,228,250,1) 80%);
    border-radius: 1.2rem;
    box-shadow: 2px 20px 30px -12px rgba(230,228,250,.5);
    -webkit-box-shadow: 2px 20px 30px -12px rgba(230,228,250,.5);
    -moz-box-shadow: 2px 20px 30px -12px rgba(230,228,250,.5);

}
.link--tittle{
    align-self: flex-start;
    font-weight: 800;
    padding-right: 1rem;
}
.link--tittle::after{
    content: "►";

    padding-left: .2rem;
    clip-path: polygon(0% 0%, 0 52%, 0 59%, 74% 21%, 80% 30%, 6% 68%, 0 50%, 0 100%, 100% 100%, 100% 0%);
    background: -webkit-linear-gradient(120deg, var(--color-primary), var(--color-secondary), var(--color-white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.music{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.2rem;
    padding-top: .6rem;
}
.music{
    color: white;
    border-width: 0px 0px 0px 0px;
    border-bottom: 1px double;
    border-style: solid;
    border-image: linear-gradient(to right, transparent 10%, rgba(255,255,255,.5) 25%,rgba(255,255,255,.5) 50%,transparent 90%) 10 10%;
     
}
.music:last-of-type{
    border-bottom: none;
}
.icon__music{
    display: block;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}
.section__recently--musics{
    
}
.music__image{
    object-fit: cover;
    box-sizing: border-box;
    border-radius: .7rem;
    width: 45px;
    height: 45px;
    box-shadow: 2px 10px 25px -12px rgb(230 228 250 / 50%);
    -webkit-box-shadow: 2px 10px 25px -12px rgb(230 228 250 / 50%);
    -moz-box-shadow: 2px 10px 25px -12px rgb(230 228 250 / 50%);
}
.music__description{
    display: flex;
    flex-direction: row;
    width: 42%;
    justify-content: space-between;
}
.music__description--tittle{
    color: var(--color-white);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description__tittle--name{
    font-weight: 700;
}
.description__tittle--artist{
    color: rgba(230,228,250,.5);
    font-weight: 300;
    font-size: .8em;
}

.music__option{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
}
.icon__music-points{
    
    background-image: url(icons/double-point-vertical.svg);
    transform: rotate(90deg);
    
}
.icon__music--play{
    width: 20px;
    height: 20px;
    background-image: url(icons/play.svg);
}
.icon__view--more{
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
    
    background-image: url(icons/arrow-out.svg);
    background-size: 100%;
    object-fit: contain;

}

.none{
    display: none;
}